.c-next--steps {
  width: 100%;
  height: auto;
  position: relative;
  margin: 1em 0;

  &__title {
    color: $main-font;
    margin: auto;
    font-size: 22px;
    text-align: center;
  }

  &__grid {
    &-container {
      height: auto;
      display: grid;
      grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4'
        'item5'
        'item6';
      grid-gap: .5em;
      padding: 1em;
    }

    &-item {
      background-size: cover;
      text-align: center;
      height: 50vh;
    }

    &-item1 { 
      grid-area: item1; 
      background: url(src/images/brochure.jpg);
    }
    &-item2 { 
      grid-area: item2; 
      background: url(src/images/register-interest.jpg);
    }
    &-item3 { 
      grid-area: item3;
      background: url(src/images/finance-calculator.jpg);
    }
    &-item4 { 
      grid-area: item4; 
      background: url(src/images/find-retailer.jpg);
    }
    &-item5 { 
      grid-area: item5;
      background: url(src/images/discover-id.jpg);
    }
    &-item6 { 
      grid-area: item6;
       background: url(src/images/motorbility.jpg);
    }
  }
} 

@media screen and (min-width: $footer__early-break) {
  .c-next--steps {

    &__grid {
      &-container {
        height: 120vh;
        grid-template-areas:
        'item1 item2'
        'item3 item4'
        'item5 item6';
        grid-gap: 1em;
        padding: 2em;
      }

      &-item {
        background-size: cover;
        text-align: center;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: $laptop-break) {
  .c-next--steps {

    &__grid {
      &-container {
        grid-template-areas:
          'item1 item3 item5'
          'item1 item3 item5'
          'item1 item4 item5'
          'item2 item4 item5'
          'item2 item4 item6'
          'item2 item4 item6';  
      }
    }
  }
}