.o-button__next--steps {
  color: $header-font;
  border: 1px solid $primary;
  border-radius: 25px;
  background: $primary;
  margin-top: 2em;
  padding: .3em 1em;
  font-size: 10px;
  position: relative;
  float: right;
}